.main {
  text-align: center;
}

.seats-container {
  width: 365px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(50% - 180px);
}

.seat {
  width: 30px;
  height: 30px;
  border: 1px solid darkgrey;
  background: white;
  font-size: 13px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.grey {
  background-color: lightgray;
}

.green {
  background-color: lightgreen;
}
